<div class="CustomTable" >  
<table class= "table table-bordered" >
  <thead>
    <th>nonWorkingDays</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of nonWorkingDays" >
      <td>
        {{item}}
      </td>
    </tr>
  </tbody>
</table>
</div>


<div class="CustomTable" >  
    <table class= "table table-bordered" >
      <thead>
        <th>publicHolidays</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of publicHolidays" >
          <td>
            {{item}}
          </td>
        </tr>
      </tbody>
    </table>
    </div>


    <div class="CustomTable" >  
        <table class= "table table-bordered" >
          <thead>
            <th>saturdayHolidays</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of saturdayHolidays" >
              <td>
                {{item}}
              </td>
            </tr>
          </tbody>
        </table>
        </div>


        <div class="CustomTable" >  
            <table class= "table table-bordered" >
              <thead>
                <th>sundayHolidays</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of sundayHolidays" >
                  <td>
                    {{item}}
                  </td>
                </tr>
              </tbody>
            </table>
            </div>