<!-- <input style="margin-left: 250px;" #search class="search form-control" type="text" placeholder="Search Name" (keyup)="onSearch(search.value)"> -->
<ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="editRow($event)" (deleteConfirm)="deleteNotification($event)" (userRowSelect) = "selectSubject($event)" ></ng2-smart-table>
<!-- <button style="float : right; right: 16%;
position: absolute;margin-top: 10px;" class="btn btn-primary" (click)="addNew('addNew')">Add New</button> -->

<app-jw-modal id="addNew">
    <i class="glyphicon glyphicon-remove closeButton" (click) = "justClose('addNew')" ></i>  
  <form [formGroup]="form" (ngSubmit)="createNew()" class="form-inline">
    <div>
      <label>Semester Name:</label>
      <input autocomplete="off" type="text" name="Name" formControlName='Name' class="form-control">
      <span *ngIf="form.controls['Name'].hasError('required')">*</span>
    </div>
    <div>
      <label>Start Date:</label>
      <input autocomplete="off" type="text" name="Content" formControlName='Content' class="form-control">
      <span *ngIf="form.controls['Content'].hasError('required')">*</span>
    </div>
    <button class="btn btn-default" type="submit" [disabled]="!form.valid">Add</button>
  </form>
</app-jw-modal>
